body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 19, 19);
}

nav{
    background-color:rgb(19, 19, 19);
    color: white;
    display: flex;
    padding: 0.3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

nav ul{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; /* Faz os itens ocuparem o mesmo espaço */
    text-align: center; /* Centraliza o texto dentro da "caixa" */
    padding: 0.7rem 0;
    transition: all 0.4s ease-in-out;
    font-size: 1.1rem;
}

nav ul li:hover {
    background-color: #8800ba;
    font-size: 1.175rem;
    border-radius: 0.6rem;
    color: white; 
    cursor: pointer;
}