:root {
    --gradiente: linear-gradient(to right, rgb(56, 17, 105), #8800ba);
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(19, 19, 19);
}

nav{
    background-color:rgb(19, 19, 19);
    color: white;
    display: flex;
    margin-top: -1.5rem;
    padding: 0.3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1000; /*deixa a navbar na camada mais superior. Evita que o card nao sobreponha no hover*/
}

nav ul{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1; /* Faz os itens ocuparem o mesmo espaço */
    text-align: center;
    padding: 0.7rem 0;
    transition: all 0.3s ease-in-out;
    font-size: 1.1rem;
}

nav ul li:hover {
    background: var(--gradiente);
    /* font-size: 1.2rem; */
    border-radius: 0.6rem;
    color: white; 
    cursor: pointer;
    transform: translateY(0.2rem);
}

.home{
    margin-top: 1.5rem;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    justify-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45rem;
    width: 100%;
    background-color: rgb(30, 30, 30);
    gap: 5rem;
}

.box .left-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: whitesmoke;
}

.box .left-content h3{
    font-size: 2rem;
}
.box .left-content p{
    font-size: 1.3rem;
    text-align: justify;
}

.box .right-content{
    display: flex;
    flex-direction: column;
    width: auto;
}

.box .right-content .eu_icon{
    border-radius: 100rem;
    height: 25rem;
}

#eu_icon_homeSec{
    zoom: 100%;
}


.skills {
    padding: 2rem;
    background: whitesmoke;
    text-align: center;
    height: max-content;
}

.skills h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.skills .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* Adaptação para tamanhos menores */
    gap: 1.5rem;
    justify-items: center;
}

.skills .card {
    background: rgb(30, 30, 30);
    color: whitesmoke;
    border: 0.1rem solid #8800ba;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    max-width: 300px;
}

.skills .card:hover {
    transform: translateY(-5px); /* Elevação ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: var(--gradiente);
    border-color: rgb(19, 19, 19);
    cursor: pointer;
}


.skills .card p {
    font-size: 0.9rem;
    color: #d5d5d5;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.skills .card img {
    width: 7rem;
    height: auto;
    margin-top: 1rem;
}